.quantity {
  width: 94px;
  height: 36px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  display: flex;
  background: #fff;
  border-color: #fff;

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  input {
    text-align: center;
  }
}