.cart {
  padding: 105px 0px;
  font-family: 'Josefin Sans', sans-serif;

  h3 {
    font-weight: 700;
    margin-bottom: 37px;
    margin-top: 0;
    line-height: 1.2;
    color: #111111;
    font-size: 30px;
  }

  &-table {
    padding: 40px 34px 0;
    background: #f0f0f0;
    border-radius: 27px;
    overflow: hidden;

    .product-name {
      word-wrap: break-word;
      margin: 0;
    }

    .product-price {
      margin: 0;
    }

    .table-title {
      font-size: 12px;
      font-weight: 400;
      color: #414141;
      text-align: center;
      padding-bottom: 25px;
    }

    .icon-x {
      cursor: pointer;
      color: #f51167;
      font-weight: 900;
      font-size: 20px;
    }
  }

  .table-footer {
    background: #f51167;
    text-align: right;
    padding: 22px 0;
    padding-right: 50px;
    margin: 0 -34px;

    h6 {
      line-height: 1;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      margin: 0px;

      span {
        margin-left: 38px;
      }
    }
  }
}